<HTML>
<HEAD>
<TITLE>goodbye</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../style.css" type="text/css">
</HEAD>

<BODY ONLOAD="preloadImages();">
{% include header.txt %}

<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>

	<tr>

	<td width="200" bgcolor="#999999" valign="top">
      <p><font color="red">email list</font> </p>
      <p><img src="../images/spacer.gif" width="200" height="1" border="0"></p>
    </td>

	<td width="500" bgcolor="#cccccc" valign="top"> 
      <p>Please note: you'll have to reply to a confirmation email to be removed 
        to the list. Once you do that, we'll be sure to unsubscribe you from our 
        announcement email list. We will not send you any further emails until 
        you re-sign up. Goodbye. </p>
      <p>&nbsp;</p>
      <p>&nbsp;</p>
      <p>&nbsp; </p>
      <div align="center"></div>
        
        {% include home.txt %}
    </td>
  </tr></table>

<br>
<table width="700" border="0" cellspacing="0" cellpadding="6">
  <tr> 
    <td> 
      {% include footer.txt %}
    </td>
  </tr>
</table>
<!-- End ImageReady Slices -->
</BODY>

</HTML>