<HTML>

<HEAD>

<TITLE>links</TITLE>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="style.css" type="text/css">

</HEAD>



<BODY ONLOAD="preloadImages();">

{% include header.txt %}



<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>



    <tr>



    <td width="200" bgcolor="#999999" valign="top"> 

      <table width="200" border="0">

        <tr> 

          <td>

            <p><font face="arial, helvetica, sans serif" size="2" color="#ff0000">SFinX 

              LinX</font><br>

              <br>

              <br>

          </td>

          <td align="right">&nbsp;</td>

        </tr>

      </table>

      <img src="images/spacer.gif" width="200" height="1" border="0"></td>

    <td width="500" bgcolor="#cccccc" valign="top"><font face="arial, helvetica, sans serif" size="2"><B>The 

      Jon Sims Center</B><br>

      <A HREF="http://www.jonsimsctr.org/" target="new">http://www.jonsimsctr.org/</A> San 

      Francisco's Premiere Lesbian, Gay, Bisexual, and Transgender Arts Organization. 

      <br>

      <br>

      <B>ArtSF</B><br>

      <A HREF="http://artsf.homestead.com" target="new">http://artsf.homestead.com</A> ArtSF 

      is a broad non-profit coalition of evicted artists and performers seeking 

      funding for a new community arts center. We are working towards purchasing 

      and converting a warehouse in San Francisco. It will be an arts community 

      resource providing studio and gallery space for artists, rehearsal space 

      for musicians, practice space for dancers and performance troupes, open 

      space for shows, performances, and community dinners. <br>

      <br>

      <B>Blithe House Quarterly</B><br>

      <A HREF="http://www.blithe.com" target="new">http://www.blithe.com</A> Blithe House Quarterly 

      is a site for gay short fiction which features many San Franciscan contributors. 

      <br>

      <br>

      <B>The Cockettes</B><br>

      <A HREF="http://www.cockettes.com/" target="new">http://www.cockettes.com/</A> The rise 

      and fall of the legendary San Francisco theatrical troupe, The Cockettes, 

      1969-1972. <br>

      <br>

      <B>The Golden Gate Men's Chorus</B><br>

      <A HREF="http://www.ggmc.org" target="new">http://www.ggmc.org</A> The Golden Gate Men's 

      Chorus is a 40-man choral group, representing the ethnic and social diversity 

      of San Francisco. The GGMC presents spring, summer, and winter programs 

      annually. <br>

      <br>

      <B>Hanarchy West</B><br>

      <A HREF="http://groups.yahoo.com/group/Hanarchy_West" target="new">http://groups.yahoo.com/group/Hanarchy_West</A> 

      Hanarchy West is a les/biwomen's (primarily) weekly events and classifieds 

      e-mail listing. Featuring progressive, queer positive, sex positive SF Bay 

      Area events and classifieds; an excellent place for writers find out about 

      calls for submissions, jobs, or housing. <br>

      <br>

      <B>Holy Titclamps</B><br>

      <A HREF="http://www.holytitclamps.com" target="new">http://www.holytitclamps.com</A> 

      Larry Bob's eccentric and reliable listing of Bay Area performance and music 

      events with a queer/ LGBT focus.

      <br>

      <br>

      <B>Lyric</B><br>

      <A HREF="http://www.lyric.org/" target="new">http://www.lyric.org/</A> LYRIC brings LGBTQ 

      youth together to build a peer-based community that empowers them to end 

      isolation, create a progressive queer youth voice, increase well being and 

      self-esteem, and change the communities in which they live. <br>

      <br>

      <B>Northern California Slam Listings</B><br>

      <A HREF="http://www.norcalslam.org/" target="new">http://www.norcalslam.org/</A> Northern 

      California Slam Listings (NorCalSlam), sponsored by the National Poetry 

      Association. Slam poetry calendars, updates, venue information, slammaster 

      contact information, and links of places to buy the books and CDs of your 

      favorite slammers. <br>

      <br>

      <B>Outlook Video</B><br>

      <A HREF="http://www.OutlookVideo.org" target="new">http://www.OutlookVideo.org</A> A 

      collective of lesbian and bisexual video makers that produces an Award-winning 

      half-hour program. Produced monthly, Outlook Video airs on cable television 

      stations around the Bay Area. <br>

      <br>

      <B>Theatre Bay Area</B><br>

      <A HREF="http://www.theatrebayarea.org" target="new">http://www.theatrebayarea.org</A> 

      Tickets to most Bay Area cultural events and concerts, CASH grants for artists, 

      and monthly articles on Bay Area theater. <br>

      <br>

      <B>Trigger Happy Jacks</B><br>

      <A HREF="http://www.triggerhappyjacks.com" target="new">http://www.triggerhappyjacks.com</A> 

      Queer performance poetry troupe based in Austin, Texas. <br>

      <br>

      <font face="arial, helvetica, sans serif" size="1"><br>

      </font> 

      <p> 

        {% include home.txt %}

      </font></td>

  </tr></table>



<br>

{% include footer.txt %}

</BODY>



</HTML>