<HTML>

<HEAD>

<TITLE>events</TITLE>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="../style.css" type="text/css">

</HEAD>



<BODY ONLOAD="preloadImages();">

{% include header.txt %}



<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>
<tr><td width="179" bgcolor="#999999">
<table width="200" border="0">
<tr>
<td><p><font face="arial, helvetica, sans serif" size="2" color="#ff0000">Events</font></td>
<td align="right">&nbsp;</td>
</tr></table>
<img src="../images/spacer.gif" width="200" height="1000" border="0"></td>
<td width="521" bgcolor="#cccccc" valign="top">
<p><font face="arial, helvetica, sans serif" size="-3" color="#ff0000"><table width="450" valign="top">
 <tr valign="top">

          <td valign="top" align="center">
      <h2><img src="../images/spacer.gif" width="400" height="20" border="0"> <br>
		THE BEST OF SAN FRANCISCO IN EXILE: Past, Present, and Future<br />
Saturday, June 7th, 2008</h2>
<p>7pm doors, 7:30 show<br />
Joe's Garage, 975 Howard Street, San Francisco<br />
$10-20 sliding scale, nobody turned away<br />
<br />
Started in 2001 by queer arts visionaries Kris Kovick and Sara Moore,<br />
San Francisco in Exile is a longstanding cornerstone of San Franciscan<br />
queer and outsider culture -- promoting new and emerging queer artists<br />
alongside queer arts Most Valuable Players.<br />
<br />
Join:<br />
MELIZA BANALES<br />
SHERILYN CONNELLY<br />
JEN CROSS<br />
GINA DE VRIES<br />
CINDY EMCH<br />
LOGAN KNIGHT<br />
LEAH LAKSHMI PIEPZNA-SAMARASINHA<br />
ROBERT LAWRENCE<br />
ZULEIKA MAHMOOD<br />
HOREHOUND STILLPOINT<br />
... as they read fabulous new stuff and tell tales of Ye Olde SFinX days.<br />
<br />
Curated by Gina de Vries.
		</p>
		<hr>

			 <img src="06_Cake/cake_and_debauchery_final_sm.jpg" width="464" height="600"></td>

          <td valign="top" align="left" width="290"> 
            
          </td>

        </tr>

        <tr>

          <td align="center"><p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<wbr>~<br>
            Jon Sims Center for the Arts and SF in eXile* proudly present:<br>
            <br>
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
            ~ ~ ~ CAKE &amp; DEBAUCHERY ~ ~ ~<br>
            ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
            <em>cake</em>: [keyk] n. A tasty dessert often found at birthday celebrations.<br>
            <br>
            <em>debauchery</em>: [di-baw-chuh-ree] n. Excessive indulgence in sensual<br>
            pleasures. Best when combined with cake.<br>
            <strong><br>
            Cake &amp; Debauchery: An evening of uncommon erotica.</strong><br>
            <br>
            Featuring titillating readings and burlesque by<br>
            Cookie<br>
            Cindy Emch<br>
            Dorian Katz<br>
            Marlo Gayle<br>
            Steven Schwartz<br>
            Sherilyn Connelly<br>
            <br>
            Hosted by<br>
            Katrina James<br>
            <br>
            Sat. Oct 7th, 2006, 8 pm<br>
            Jon Sims Center for the Arts<br>
            1519 Mission @ 11th St. / Van Ness, SF<br>
            $8 - $20 s.s. no one turned away<br>
            For reservations / wheelchair access call<br>
            415-554-0402<br>
            Remember to bring $$ for refreshments.<br>
            <br>
            * SFinX: San Francisco in Exile Live at the JSC This event will be<br>
            digitally audio recorded for the SFinX web-based queer artists'<br>
            archive. SFinX is dedicated to the documentation and dissemination of<br>
            SF's queer performing arts scene through digital media. More info<br>
            <a onclick="return top.js.OpenExtLink(window,event,this)" href="http://www.jonsimsctr.org" target="_blank">www.jonsimsctr.org</a><br>
          </p>

          </td>

          <td> 

            <p></td>

        </tr>

      </table>

      <!-- <a href="events_jul.html">JUL&nbsp;&nbsp;&nbsp;</a> 



<a href="events_aug.html">AUG&nbsp;&nbsp;&nbsp;</a> 



<a href="events_sep.html">SEP&nbsp;&nbsp;&nbsp;</a> 



<a href="events_oct.html">OCT&nbsp;&nbsp;&nbsp;</a> 



<a href="events_nov.html">NOV&nbsp;&nbsp;&nbsp;</a> 



<a href="events_dec.html">DEC</a> -->

      </font><font face="arial, helvetica, sans serif" size="2"> 

      <p>

      <p>To subscribe to the SFinX announcement list: send a blank e-mail to <a href=mailto:SFinExile_announce-subscribe@yahoogroups.com>SFinExile_announce-subscribe@yahoogroups.com</a> 

      </font>

      <p><font face="arial, helvetica, sans serif" size="2"><br>

        <br>

        </font>

      <font face="arial, helvetica, sans serif" size="2"> 

      <p> 

        {% include home.txt %}

      </font></td>

  </tr></table>



<br>

{% include footer.txt %}

</BODY>



</HTML>