<HTML>

<HEAD>

<TITLE>events</TITLE>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="../style.css" type="text/css">

</HEAD>



<BODY ONLOAD="preloadImages();">

{% include header.txt %}



<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>
<tr><td width="179" align="left" valign="top" bgcolor="#999999">
<table width="200" border="0">
<tr>
<td><p><font face="arial, helvetica, sans serif" size="2" color="#ff0000">Blurbs!<br> 
  March 2001 - March 2006 </font></td>
<td align="right">&nbsp;</td>
</tr></table>
<img src="../images/spacer.gif" width="200" height="1000" border="0"></td>
<td width="521" bgcolor="#cccccc" valign="top">
<p><font face="arial, helvetica, sans serif" size="-3" color="#ff0000"><table width="450" valign="top">
 <tr valign="top">

          <td align="center" valign="top">SFinX March 31, 2001- March 31, 2006 Blurbs <br></td>
        </tr>

        <tr>

          <td align="left" valign="top">San Francisco in Exile Live at JSC (SFinX) presents<br>
            EXILE<br>
            the fierce inaugural show of a new queer performance/ recording series
            <p>Saturday 3/31/01<br>
              9:00 - 11:00 pm<br>
              == featuring local queer performers and exiles:</p>
            <p>Kris Kovick - assassinationologist / dildologist<br>
              Marcus Rene Van - Slam Team SF 2000<br>
              Sini Anderson - Sister Spit cofounder<br>
              Kassy Kayiatos - freestyler &amp; Sister Spit slammer<br>
              alegria sonata barclay - RESYST/ Revolutionary Voices poet<br>
              Maria Poblet - STORM organizer/ Revolutionary Voices poet<br>
              Sara Moore - your humble host</p>
            <p>This new monthly event will be digitally audio recorded for<br>
              the new web-based queer artists&rsquo; archive www.SFinExile.org<br>
              (launching April 1)</p>
            <p>Jon Sims Center for the Arts - all-ages, accessible, non-commercial -<br>
              1519 Mission Street (at Van Ness), SF (Civic Center BART, Van Ness MUNI)<br>
              Call ahead to arrange wheelchair access: 415-554-0402.</p>
            <p>Door: s.s. $5-$10 / no one turned away for lack of funds</p>
            <p>Proceeds go to support the archive. SFinX is dedicated to the<br>
              documentation and dissemination of San Francisco&rsquo;s queer<br>
              performing arts scene through the digital media.</p>
            <p>For more info 415-430-2161 x1955 - SFinX@onebox.com - www.jonsimsctr.org</p>
            <p>-see you there,<br>
              the SFinX</p>
            <p>== To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com ==<br>
            </p>
            <p>********************************<br>
                <br>
                San Francisco in Exile Live at JSC (SFinX)</p>
            <p>presents</p>
            <p>H A V E Y O U S E E N M E ?</p>
            <p>an evening of queer spoken-word poetry performance &amp; multidimensional art<br>
              installation</p>
            <p>saturday may 12<br>
              8:00 - 10:00 pm</p>
            <p>Jon Sims Center for the Arts--all-ages, accessible, non-commercial<br>
              1519 Mission Street at Van Ness, SF<br>
              at Civic Center BART, Van Ness MUNI</p>
            <p>Call ahead to arrange wheelchair access: 415-554-0402</p>
            <p>Door: s.s. $5-$10 / no one turned away for lack of funds</p>
            <p>we PACKED the HOUSE for the fierce inaugural SFinX show last month; grab<br>
              your seat EARLY at this, our second show!!!<br>
            </p>
            <p>==FEATURED ARTISTS INCLUDE:</p>
            <p>Ida Acton--kickin' ass for the workin' class!<br>
              Lynn Breedlove &amp; her Orchestra--where Cole Porter meets Punk Rock!<br>
              Julia Bloch--Treat Street hottie!<br>
              Sonia Whittle--runs the Oakland Poetry slam, so shut the fuck up!<br>
              Mario Antony Balcita--major Aztec Daddy!<br>
              Carla Richmond--new girl in town!<br>
              Ariana Waynes--slammin' joyful to die for!<br>
              Sor Juana Inez de la Cruz--Renaissance erotic poetry babe!</p>
            <p>lovely refreshments and merchandise (tapes, CDs, chapbooks) will be<br>
              available</p>
            <p>this new monthly event will be digitally audio recorded for the new<br>
              web-based queer artists' archive, www.SFinExile.org (launching SOON SOON<br>
              SOON)</p>
            <p>Proceeds go to support the archive. SFinX is dedicated to the documentation<br>
              and dissemination of San Francisco's queer performing arts scene through the<br>
              digital media.</p>
            <p>info:<br>
              415-430-2161 x1955<br>
              SFinX@onebox.com<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              Jon Sims Center for the Arts and SFinX* presents<br>
              NO RETREAT:<br>
  Dig Deep for Madigan and Marci B.</p>
            <p>A benefit<br>
              for 2 queer artists<br>
              facing eviction</p>
            <p>featuring spoken-word poetry performance &amp; acoustic music<br>
  by local exiles</p>
            <p>Marci Blackman<br>
              Bonfire Madigan<br>
              Justin Chin<br>
              Noe Venable<br>
              Shelley Doty<br>
  And others TBA!</p>
            <p>Sat. August 4, 2001<br>
              9:00 - 11:00 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission St. SF<br>
              btwn S. Van Ness/ 11th St.<br>
              $10 - $20 no one turned away but this is a benefit so dig deep</p>
            <p>RESERVATIONS RECOMMENDED<br>
              For wheelchair access &amp; reservations call 415-554-0402</p>
            <p>Bring extra $$ for a raffle of donations from Osento, Theatre Rhino, Black &amp;<br>
              Blue Tattoo, Sacred Rose<br>
              Tattoo, Sisterspit, photographer Phyllis Christopher and other local artists to<br>
              benefit Madigan and<br>
              Marci's eviction defense fund.</p>
            <p>This new monthly event will be digitally audio recorded for the new<br>
              web-based queer artists' archive, www.SFinExile.org.</p>
            <p>* SFinX: San Francisco in Exile Live at JSC<br>
              Part of this show's proceeds support a new web archive of SF queer performance<br>
              recordings at www.SFinExile.org. SFinX is dedicated to the documentation<br>
              and dissemination of SF's queer performing arts scene through digital<br>
              media. More info 415-430-2161 x1955 - SFinX@onebox.com - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>!~~~~~ Ballsy Femmes/Flaming Pansies ~~~~~!</p>
            <p>Featuring exiles:</p>
            <p>Carol Queen - Sexologist &amp; Beacon of Truth<br>
              Shar Rednour - author &quot;The Femme's Guide to the Universe&quot;<br>
              Shailja Patel - National Slam Team Santa Cruz 2000<br>
              Celeste Pearl - Dykedrama Fest &amp; Liquid Fire 2001<br>
              George McKibbens - playwright &amp; slammer extraordinaire<br>
              Clare Lewis - National Slam Team Berkeley 2001<br>
              Kebo Drew - Liquid Fire 2001<br>
              Meliza Ban&#61469;ales - National Slam Team Santa Cruz 1998 &amp; 1999<br>
              And your humble host Sara Moore</p>
            <p>August 25, 8:30 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission St. @ 11th St. / Van Ness, SF<br>
              $5 - $20 s.s. no one turned away<br>
              For wheelchair access call 415-554-0402</p>
            <p>Remember to bring $$ for refreshments and performers' chapbooks &amp; CDs!</p>
            <p>This new monthly event will be digitally audio recorded for the web-based<br>
              queer artists' archive, &lt;http://www.SFinExile.org&gt;.</p>
            <p>* SFinX: San Francisco in Exile Live at JSC<br>
              SFinX is dedicated to the documentation and dissemination of SFs queer<br>
              performing arts scene through digital media. More info 415-430-2161 x1955<br>
  - SFinX@onebox.com - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>!~~~~~ Hear the Fierce: Spokenword from young trannys and queers~~~~~!</p>
            <p>Featuring performers:<br>
  Jen Ro<br>
  Max Cohen<br>
  Cooper Lee Bombardier<br>
  Kristi Bruce<br>
  Mario Balcita<br>
  Erik &quot;Checkers&quot;<br>
  Jaedon<br>
  and more!</p>
            <p>Saturday Oct 27,<br>
              at 7:30 pm<br>
              Jon Sims Center for the Arts<br>
  1519 Mission St. @ 11th St. / Van Ness, SF<br>
  $5 - $20 s.s. no one turned away<br>
  For wheelchair access &amp; reservations call 415-554-0402<br>
  Tickets will be sold at the door</p>
            <p>This event will be digitally audio recorded for the<br>
              web-based queer artists' archive, &lt;http://www.SFinExile.org&gt;.</p>
            <p>* SFinX: San Francisco in Exile Live at JSC<br>
              SFinX is dedicated to the documentation and dissemination of SFs<br>
              queer performing arts scene through digital media. More info<br>
  415-430-2161 x1955 - SFinX@onebox.com - www.jonsimsctr.org<br>
  To subscribe to the SFinX announcement list: send a blank e-mail to<br>
  SFinExile_announce-subscribe@yahoogroups.com<br>
  <br>
  SFinX: San Francisco in Exile Live at the Jon Sims Center<br>
  presents<br>
  ||||| Glitter Maggots and Queer Dragonflies: Performing Entomology |||||<br>
  an audio excursion and poetic jaunt into the intricate universe of<br>
  insects.</p>
            <p> Saturday, December 1st at 8:00pm at the Jon Sims Center for the Arts<br>
  1519 Mission St., San Francisco, between 11th St. and S. Van Ness.<br>
            </p>
            <p> Spoken word and audio performance featuring:<br>
  Elise Baldwin<br>
  Jen Gandy<br>
  Chad and Whitney Skilcorn a.k.a. WFS2K02<br>
  Julia Bloch<br>
  Sara Moore<br>
  Poppy<br>
  Rebecca Weiner<br>
  Amelia Hess</p>
            <p> Door: s.s.$5-$10, no one will be turned away for lack of funds.<br>
  For wheelchair access and reservations (415) 554-0402<br>
  |||||||||||||||||||||||||||||||||||||</p>
            <p>&nbsp;</p>
            <p> <br>
              Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p> !~~~~~ Queer as FUNK ~~~~~!<br>
  humor and spoken word<br>
  with MCs Sara Moore and MRV, featuring:<br>
  lesbian comic Karen Ripley,<br>
  slam poets Lucky 7,<br>
  Karen Ladson,<br>
  Sonia Whittle,<br>
  homo-hop's one and only Deep Dickollective<br>
  and the wit of Kris Kovick</p>
            <p> February 2, 2002, 8:00 p.m.<br>
  Jon Sims Center for the Arts<br>
  1519 Mission St. between 11th St. and South Van Ness, San Francisco<br>
  $5-$10 sliding scale / no one turned away<br>
  For reservations or wheelchair access call 415-554-0402<br>
  Remember to bring $$ for refreshments and performers' chapbooks &amp; CDs!</p>
            <p> This show will be digitally audio recorded for the web-based queer<br>
              artists'<br>
  archive, http://www.SFinExile.org</p>
            <p> * SFinX: San Francisco in Exile Live at JSC<br>
  SFinX is dedicated to the documentation and dissemination of SF's queer<br>
  performing-arts scene through digital media. More info: 415-430-2161<br>
  x1955 - SFinX@onebox.com - www.jonsimsctr.org</p>
            <p> To subscribe to the SFinX announcement list: send a blank e-mail to<br>
  SFinExile_announce-subscribe@yahoogroups.com<br>
  <br>
  Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>___ MOUTH ___<br>
              the teeth the lips the tip of the tongue the teeth<br>
              the lips the tip of the tongue</p>
            <p>spoken word featuring<br>
              Cass McGee<br>
              Charles Anders<br>
              Gina Gold<br>
              Dwayne Calizo<br>
              Daphne Gottlieb<br>
              Rolando Conde<br>
              Lauren Wheeler</p>
            <p>Sat. April 6, 2002, 8:00 p.m.<br>
              Jon Sims Center for the Arts<br>
              1519 Mission St. between 11th St. and Van Ness, San Francisco<br>
              $5-$10 sliding scale / no one turned away<br>
              For reservations or wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments and performers' chapbooks!</p>
            <p>This show will be digitally audio recorded for the web-based queer<br>
              artists' archive, http://www.SFinX.org (NOW HEAR the debut show with Real<br>
              Audio!)</p>
            <p>* SFinX: San Francisco in Exile Live at JSC<br>
              SFinX is dedicated to the documentation and dissemination of SF's queer<br>
              performing-arts scene through digital media. More info: 415-430-2161<br>
              x1955 - SFinX@onebox.com - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
  Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p> !~~~~~ SFinX: Another Evening of Greatest Hits ~~~~~!</p>
            <p> Marcus Rene Van hosts<br>
  a night of spoken word &amp; music performance by:<br>
  Angela Hannah<br>
  Philip Huang<br>
  Michael Jackson<br>
  Clare Lewis<br>
  Rocco<br>
  Michelle Tea<br>
  Brian Thortenson<br>
  Tyger Walsh<br>
  and Copper Wimmin!</p>
            <p> Sat. June 15, 2002, 8:00 p.m.<br>
  at the SF LGBT Community Center 4th floor Ceremonial Room,<br>
  1800 Market St. @ Octavia , San Francisco<br>
  $7-$15 sliding scale / no one turned away<br>
  For advance tickets contact the National Queer Arts Festival:<br>
  415-865-5611, NQAF@aol.com or visit www.queerculturalcenter.org</p>
            <p> Remember to bring $$ for refreshments and performers' chapbooks &amp; CDs!</p>
            <p>This show will be digitally audio recorded for the web-based queer<br>
              artists' archive, http://www.SFinX.org</p>
            <p>* SFinX: San Francisco in Exile Live at JSC<br>
              SFinX is dedicated to the documentation and dissemination of SF's queer<br>
              performing-arts scene through digital media. More info:<br>
              www.jonsimsctr.org &ndash; www.sfinx.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p> !~~~~~ The Creepy Mommy Show ~~~~~!<br>
              humor, prose and spoken word with MCs Susan Fleming and Sara Moore, featuring<br>
              exiles:</p>
            <p> = Daniel Handler (aka Lemony Snicket) of the &quot;Series of Unfortunate<br>
              Events&quot; &amp; others<br>
  = Camille Roy &quot;Cheap Speech&quot; &amp; &quot;Swarm&quot; &amp; others<br>
  = Tina D'Elia &quot;Groucho: A Day in the D'Elia Soup&quot;<br>
  = Thea Hillman &quot;Depending on the Light&quot;<br>
  = Storm Florez &quot;The Pussyboy Chronicles&quot;<br>
  = horehound stillpoint &quot;Out in the Castro&quot; &amp; many other collections</p>
            <p>August 3, 2002, 8:00 p.m.<br>
              Jon Sims Center for the Arts<br>
              1519 Mission St. between 11th St. and South Van Ness, SF<br>
              $5-$10 sliding scale / no one turned away<br>
              RESERVATIONS ARE RECOMMENDED!<br>
              For reservations or wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments and performers' chapbooks &amp; CDs!</p>
            <p>This show will be digitally audio recorded for the web-based queer artists'<br>
              archive, http://www.SFinX.org.</p>
            <p> * SFinX: San Francisco in Exile Live at JSC --<br>
              SFinX is dedicated to the documentation and dissemination of SF's queer<br>
              performing-arts scene through digital media. More info: www.SFinX.org<br>
              - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>= == 10 MINUTE MACKS: quick queeries of melanated maleness<br>
              -- a series of monologues and poetic interrogation of the<br>
              constructions of maleness among Diasporic Peoples of Color.</p>
            <p>= = Hosted by Juba Kalamka of the Deep Dickollective<br>
  = Featuring Louie Butler III and Marcus Rene Van and a stellar line<br>
  up of local talent<br>
  = October 5, 2002, 8:00 p.m.<br>
  Jon Sims Center for the Arts<br>
  1519 Mission St. between 11th St. and South Van Ness, SF<br>
  $7-$12 sliding scale / no one turned away<br>
  For reservations or wheelchair access call 415-554-0402<br>
  Remember to bring $$ for performers' chapbooks &amp; CDs!<br>
  = This show will be digitally audio recorded for the web-<br>
  based queer artists' archive, http://www.SFinX.org.<br>
  = * SFinX: San Francisco in Exile Live at JSC --<br>
  SFinX is dedicated to the documentation and dissemination of SF's<br>
  queer performing-arts scene through digital media. More info:<br>
  www.SFinX.org - www.jonsimsctr.org<br>
  = To subscribe to the SFinX announcement list:<br>
  send a blank e-mail to SFinExile_announce-subscribe@yahoogroups.com<br>
  <br>
  Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>LOOK AT ME: An Artist's Affair with the Mirror</p>
            <p>Featuring:</p>
            <p>Elise Baldwin - electronic music creatrix<br>
              Jayson Hill - winged performance creature<br>
              Reginald Lamar - diva opera singer<br>
              Elizabeth Stark - word-smith extrodinaire<br>
              The Sarah Gina Jones Passion Dance Troupe</p>
            <p>Hosted by the shapeshifting duo Amelia Hess (Glitter Maggots &amp; Queer<br>
              Dragonflies) &amp; Becky Weiner (TransAnimals)</p>
            <p>Be sure to attend in your most mirror worthy garb; dress to be looked at,<br>
              costume to be seen!!!</p>
            <p>Sat. Feb. 1, 8:00 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission St. @ 11th St. / Van Ness, SF<br>
              $5 - $20 s.s. no one turned away<br>
              For reservations &amp; wheelchair access call 415.554.0402</p>
            <p>This event will be digitally audio recorded for the web-based<br>
              queer artists' archive, &lt;http://www.SFinX.org&gt;. </p>
            <p>* SFinX: San Francisco in Exile Live at JSC<br>
              SFinX is dedicated to the documentation and dissemination of SFs queer<br>
              performing arts scene through digital media.</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              ==MUTINY===MUTINY===MUTINY===MUTINY=====MUTINY==</p>
            <p>Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>!~~~~~ BOOTY ~~~~~!<br>
              --A Pirate's Treasure--</p>
            <p>Performance, pirate show tunes &amp; spoken word featuring local notorious queer<br>
              piratical types:</p>
            <p> *J'aimes* Luna Sea Assistant Gallery Director &amp; performer &quot;All of Me&quot; &amp;<br>
            &quot;Sistah Speaks: Tales from the Darkside;&quot;<br>
  *Jessica Arndt* expert piratologist, chick magnet, El Rio bartender<br>
  extraordinaire, published in Fireweed &amp; On Our Backs;<br>
  *Elizabeth Gimbel* OUTprov (St. Louis), &quot;Fat Fuck&quot; at Ladyfest East 2002 &amp;<br>
  Luna Sea's Dyke Drama &quot;All of Me;&quot;<br>
  *Melisa Spence* 
love &amp; justice intern and lunasea pussycat;<was: Laney student, &amp; lover of peace &amp; outlaws;><br>
  .and your humble hosts:<br>
  *Celestina Pearl* chicana femme dyke sex radical, bruha, porn star, seen in<br>
  Debauchery, Dykedrama Fest &amp; Liquid Fire<br>
  *Sara Moore* SFinX perennial offender, hornswaggled poet, amateur stripper &amp;<br>
  sullen word pirate</p>
            <p>Join us to see special guest King George W. Bush walk the plank!</p>
            <p>Come get a load of our booty --<br>
              April 5, 8:00 pm<br>
              at the Jon Sims Center for the Arts<br>
              1519 Mission St. @ 11th St. / Van Ness, SF<br>
              $7 - $20 s.s. no one turned away<br>
              For reservations / wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments &amp;<br>
              wear your best pirate fashion.</p>
            <p> * SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally audio recorded for the SFinX web-based queer<br>
              artists' archive. SFinX is dedicated to the documentation and dissemination of<br>
              SFs queer performing arts scene through digital media. More info www.SFinX.org<br>
              - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>==MUTINY===MUTINY===MUTINY===MUTINY=====MUTINY==<br>
                <br>
                the jon sims center and sfinx proudly present</p>
            <p>REVOLUTION BREAK HERE:<br>
              Unplugged Poetry in the City</p>
            <p> Spoken Word Griot Wisdom, Storytelling and Urban Vision<br>
              Poets/Features/</p>
            <p>Carol Hill: Writer/ storyteller/ &quot;Da Words So Good&ldquo;/ Herstory /<br>
              Teacher/ Mango/ Red/Peppa/ Door Girl/<br>
              Juicy: SheSpeaks SF/ SheSpeaks Oakland/ Da Words So Goods/ Flyer Girl/ Wet/ Liquid Fire/ hostess with the mostess/ keep um' wetta/ Dancer/ Preacher/ She Said/ innovator/ respect demanded/<br>
              Florencia: Center for Young women's development/ Program Coordinator: Nelly Velasco/ Rapper /Girlfriend / local home girl / young activist/Red Starr for every Revolutionary/ www.hispanik.com but not his panic/ one hungry mutha Fucka'/ Latina/ Proyecto Mascot/<br>
              Nyati: Mother/ Writer/ Lover/ Sexy Goddess/ Improv-Specialist/ Top/ Dom Dadda/<br>
              Khalil: Beautiful Black Man/ Teacher/ Dancer/ Lover/ Soulful/<br>
              Sara Moore: Friend/ SFinX trainer/ Mentor/ Poet/ revolutionary/<br>
              Traveler/ I hear she strips/ Motivator/ Lover/ Women/ Alive/ Patient/ Beauty/ Activist/ Queer Performer<br>
              <br>
              And last but not least your host</p>
            <p>Exodus: Dyke/ Women/ Mujer/Earth Mother/ Single/ Change/ Writer/ Poet/<br>
              Entertainer/ Youth Educator/ Party Animal/ Liquid Fire/ Other SiSter/ NQAF/ Dyke Drama 1999-2000/Sister/ Daughter/ Wet/ Liquid Fire/Boricua/ Teacher/ Da Words So Good/ Proyecto ContraSIDA Por Vida / Dancer/ Community Organizer/ Friend/ Peace Maker/ Black/ Activist/ FREEDOM/ Director/ Sound-operator/House Manager/Mentor/ healer/ Seer/</p>
            <p>Join us as we take you on a Journey down a city street.</p>
            <p>Please Break Here:<br>
              June 7th, 8:00 pm<br>
              At the Jon Sims Center for the Arts<br>
              1519 Mission St. @ 11th St. / Van Ness, SF<br>
              $7 - $20 sliding scale<br>
              no one turned away for lack of funds ( but please help the cause)</p>
            <p>For reservations / wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>Wear your favorite REVOLUTIONARY T-SHIRT</p>
            <p>** SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally/ audio recorded for the SFinX web-based Queer artists' archive. SFinX is dedicated to the documentation and Dissemination of SF's queer performing arts scene through digital media. More Info www.SFinX.org<br>
            &amp; www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com </p>
            <p>Revolution! Revolution!<br>
              PUT YOUR FIST IN THE AIR!!!!!<br>
              <br>
            &lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;</p>
            <p>Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>==== QUEER/ NOT FROM HERE ===&lt;&gt;<br>
            &lt;&gt;---- ~ the alien show ~ -----------</p>
            <p>Performance &amp; spoken word featuring local queer/alien/s:</p>
            <p> Michelle Tea ----&lt;&gt;<br>
&lt;&gt;---- Sparrow 13 Laughingwand<br>
  Maher Sabry ----&lt;&gt;<br>
&lt;&gt;---- Naomi Azriel<br>
  Buchi Miles ----&lt;&gt;<br>
&lt;&gt;---- Sara Moore</p>
            <p>Come to the twilight world of green-cards and UFO-sightings:</p>
            <p>Saturday August 2, 8:00 pm ----&lt;&gt;<br>
              at the Jon Sims Center for the Arts----&lt;&gt;<br>
              1519 Mission St. @ 11th St. / Van Ness, SF----&lt;&gt;<br>
              $7 - $20 s.s. no one turned away----&lt;&gt;<br>
              For reservations / wheelchair access call 415-554-0402</p>
            <p>&lt;&gt;---- Remember to bring $$ for refreshments &amp; performer merch, &amp; wear your most<br>
              alienated fashion. ----&lt;&gt;</p>
            <p> * SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally audio recorded for the SFinX web-based queer<br>
              artists' archive. SFinX is dedicated to the documentation and dissemination of<br>
              SF's queer performing arts scene through digital media. More info www.SFinX.org<br>
              - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;<br>
                <br>
                Jon Sims Center and SFinX* proudly present:</p>
            <p> !~~~~~ FtF: female to femme ~~~~~!</p>
            <p>gender-queer subversive freaks in high heels, featuring:</p>
            <p>Meliza Ba&ntilde;ales (award-winning writer/ spoken word artist and Poetry Slam champ,<br>
            &quot;the girl with the sense of humor of a jack-knife&quot;);</p>
            <p>eug&eacute;nie belle (high femme by birthright, porn starr by the grace of god &amp;<br>
              fashionate social worker/ craftress by trade re-decorating the world one white<br>
              leather sofa at a time);</p>
            <p>Amelia Mae Hess (bearded high-femme shapeshifting exhibitionist, talented<br>
              producer, and founding member of the queer cabaret burlesque Diamond Daggers);</p>
            <p>Leslie Mah (ink pushing, guitar shredding, subversive porn star who prefers MAC<br>
              lipstick);</p>
            <p>Elizabeth Stark (anarchist diva professor, novelist, and love child of Berkeley<br>
              circa 1970);</p>
            <p>Jenny Worley/ Donna Delinqua (lusty lady stripper, sex-industry organizer, queer<br>
              theorist, poker afficianado);</p>
            <p>and Dominique Zeltzman (queer genre-blending solo performer, choreographer,<br>
              dancer, teacher, and aerialist).</p>
            <p>Saturday October 4, 2003, 8:00 pm<br>
              Jon Sims Center<br>
              1519 Mission St. between 11th St. and South Van Ness, SF<br>
              $7-$12 sliding scale / no one turned away<br>
              For reservations or wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments and performers' chapbooks &amp; CDs!</p>
            <p> This show will be digitally audio recorded for the web-based queer artists'<br>
              archive, http://www.SFinExile.org</p>
            <p> * SFinX: San Francisco in Exile Live at JSC<br>
              SFinX is dedicated to the documentation and dissemination of SF's queer<br>
              performing-arts scene through digital media. More www.sfinx.org -<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to <br>
              SFinExile_announce-subscribe@yahoogroups.com</p>
            <p> ==========================================<br>
                <br>
                Jon Sims Center for the Arts and SFinX* proudly present<br>
                a queer spoken word event:</p>
            <p>==== BOOTY BUMP<br>
              ---- Writers on sex on speed going fast fast fast<br>
              --Curated and hosted by<br>
              Kirk Read</p>
            <p>Featuring--</p>
            <p>Robin Akimbo -just in from Montreal<br>
              Don Baird -rock columnist of the Bay Times<br>
              Meliza Ba&ntilde;ales -fire-tongued word slinger<br>
              Bill Brent -of Black Books<br>
              Bambi Lake -chanteuse of legend<br>
              Juba Kalamka -of the Deep Dickollective</p>
            <p>Co-sponsored by www.tweaker.org, a website devoted to<br>
              helping folks party safer.</p>
            <p>Join us for an evening of humor, grace and passion that come<br>
              from observation and lived experience, and forget the public<br>
              health finger-wagging and media hysteria:</p>
            <p>Saturday, December 6, 2003, 8pm<br>
              San Francisco, CA<br>
              Jon Sims Center<br>
              1519 Mission between 11th St. &amp; S. Van Ness<br>
              (next to the Loading Dock)<br>
              $10-12 sliding scale/ no one turned away for lack of funds<br>
              For reservations or wheelchair access 415-554-0402</p>
            <p>---- Remember to bring $$ for refreshments &amp; performer merch.</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally audio recorded for the SFinX web-<br>
              based queer artists' archive. SFinX is dedicated to the<br>
              documentation and dissemination of SF's queer performing arts<br>
              scene through digital media. More info www.SFinX.org or<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-<br>
              mail to SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;=&lt;&gt;<br>
                <br>
                =@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=</p>
            <p>Jon Sims Center for the Arts and SFinX* proudly present:<br>
              - ||| - - - - - - - - - - - -||| -<br>
              =@= KREATIBO =@=<br>
              - ||| - - - - - - - - - - - -||| -<br>
              Including performances by queer pin@y artists:<br>
              Maiana Minahal<br>
              Lolan Sevilla<br>
              Cynthia Blancaflor<br>
              Morningstar Vancil<br>
              Tina Bartolome &amp;<br>
              Nedjula Baguio</p>
            <p>Last year you saw them at the Bindlestiff Studio, or maybe even<br>
              in the Philippines! ...Or if you were shut out of their sold-out<br>
              shows... come see them explore the full spectrum of<br>
              expressions of gender, sexuality, cultural identity and collective<br>
              memory in this night of creative resistance and restoration:</p>
            <p>Sat. Feb. 7, 2004, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $7 - $12 s.s. no one turned away<br>
              For reservations / wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally audio recorded for the SFinX web-<br>
              based queer artists' archive. SFinX is dedicated to the<br>
              documentation and dissemination of SFs queer performing arts<br>
              scene through digital media. More info www.SFinX.org -<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-<br>
              mail to SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=@=<br>
                <br>
                ++++++++++++++++++++++++++++++++</p>
            <p>Jon Sims Center for the Arts and SFinX* proudly<br>
              present:</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
              ~ ~ ~ Gettin Hot N' Queer ~ ~ ~<br>
  a little nelly and a little butch too<br>
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>A queer trans rap experience featuring:</p>
            <p>JenRo<br>
              ~ nationally celebrated brilliance 'sure to satisfy'</p>
            <p>Robosapien<br>
              ~ 'tearing up situations since 2001'<br>
              (www.gorobosapien.com)</p>
            <p>Katastrophe<br>
              ~ 'a sniper's sense of wit... a barely tamped rage'</p>
            <p>The Real McKnight (AKA Ricky Lee)<br>
              ~ 'kicks out the drunk feminist raps'</p>
            <p>Scarletto (AKA Jacob Perez)<br>
              ~ 'movin the frickin movement'</p>
            <p>Urban Hermitt<br>
              ~ 'sick freestyler' (+ Girlfriends magazine 'boifriend of the month'!)</p>
            <p>Hosted by the incomparable MC Exodus<br>
              Curated by Katastrophe and The Real McKnight</p>
            <p>~ You will be served ~<br>
              ~ delicious hot beats ~<br>
              ~ in an exclusive ~<br>
              ~ one-night-only show! ~</p>
            <p>Sat. April 3, 2004, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $7 - $12 s.s. no one turned away<br>
              For reservations / wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC This event will be digitally<br>
              audio recorded for the SFinX web-based queer artists' archive. SFinX is<br>
              dedicated to the documentation and dissemination of SF's queer performing arts<br>
              scene through digital media. More info www.SFinX.org - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list:<br>
              send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>++++++++++++++++++++++++++++++++<br>
                <br>
                ++++YOUR PRESENCE IS REQUESTED++++</p>
            <p>The producers of Jon Sims Center and SFinX* request your presence at an<br>
              evening of live queer spokenword.</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>I Do, I Don't: Queers on Queer Marriage</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>Performances by:</p>
            <p>Lindasusan Ulrich<br>
              Dani Montgomery<br>
              Celestina Pearl<br>
              Mattilda (aka Matt Bernstein),<br>
              Sara Moore<br>
              ..and More...</p>
            <p>Friday June 4th at 8 o'Clock in the evening<br>
              Jon Sims Center for the Arts<br>
              1519 Mission Street (btwn S. Van Ness and 11th St), SF</p>
            <p>In lieu of gifts, seats are available for a<br>
              sliding scale price of ten to fifteen dollars - no one turned away</p>
            <p>wheelchair access is available - please call in advance to arrange</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC This event will be digitally<br>
              audio recorded for the SFinX web-based queer artists' archive. SFinX is<br>
              dedicated to the documentation and dissemination of SF's queer performing arts<br>
              scene through digital media. More info www.SFinX.org - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list:<br>
              send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>++++++++++++++++++++++++++++++++<br>
                <br>
                Jon Sims Center for the Arts and SFinX* proudly<br>
                present:</p>
            <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  ~ ~ ~ Cherry: queering virginity ~ ~ ~<br>
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p> An evening of performance about how queers do --<br>
              or don't -- define virginity and sex. Prepare to be<br>
  shocked, titilated, confused, and comforted.<br>
  Questions encouraged.</p>
            <p>Featuring:<br>
              Carol Queen<br>
              Julia Serano<br>
              Yosenio Lewis<br>
  Angelo Hannah<br>
  Melissa Gira<br>
  Curated by Gina de Vries<br>
  and Sara Moore.</p>
            <p>Sat. August 7th, 2004, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $7 - $12 s.s. no one turned away<br>
              For reservations / wheelchair access call<br>
              415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC This<br>
              event will be digitally audio recorded for the SFinX<br>
              web-based queer artists' archive. SFinX is dedicated<br>
              to the documentation and dissemination of SF's queer<br>
              performing arts scene through digital media. More<br>
              info www.SFinX.org - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list:<br>
              send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              ==================<br>
              Jon Sims Center for the Arts and SFinX* proudly present:<br>
              ==================</p>
            <p>HOTTER THAN HELL:<br>
              Erotic Writing Through the Crucible of Trauma</p>
            <p>An evening of hot fiction<br>
              from the knife edge of dyke lives<br>
              with<br>
              THE DIRTY INK COLLECTIVE<br>
              Jen Collins, Renee Rivera, Fire Catcher, Dorian Katz and Naomi Azriel</p>
            <p>The hottest stories emerge from the hell of lived experience.</p>
            <p>Sat. Oct 2, 2004, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $6 - $15 s.s. no one turned away<br>
              For reservations / wheelchair access call 415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>Dirty Ink is a collective of dyke writers, based in the bay area,<br>
              who come together around their passion for language, voice and sex.</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally audio recorded for the SFinX web-based<br>
              queer artists' archive. SFinX is dedicated to the documentation<br>
              and dissemination of SFs queer performing arts scene through<br>
              digital media - More info www.SFinX.org -<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-<br>
              mail to SFinExile_announce-subscribe@yahoogroups.com<br>
              =================<br>
              <br>
              San Francisco in Exile and the Jon Sims Center present</p>
            <p>~@~</p>
            <p>THE SODOMY SHOW</p>
            <p>In the End We Shall All Be Free:</p>
            <p>celebrating a year of legal sodomy</p>
            <p>~@~</p>
            <p>Co-curated by Bill Brent and Sara Moore<br>
              featuring queer sodomites</p>
            <p>Patrick Califia --<br>
              Greta Christina --<br>
              Alvin Orloff --<br>
              Simon Sheppard --<br>
              Melisa Spence --<br>
              Seeley Quest --</p>
            <p>~@~</p>
            <p>Join us for ballet, ukeleles, and butt-pirates<br>
              -- 8 pm Saturday December 4th<br>
              -- The Jon Sims Center<br>
              -- 1519 Mission (11th St / South Van Ness)<br>
              -- $10 - 15 no one turned away</p>
            <p>415-554-0402 for reservations / wheelchair access<br>
              Bring $$ for refreshments &amp; merchandise</p>
            <p>~@~</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC<br>
              This event will be digitally audio recorded for the SFinX web-based<br>
              queer artists' archive. SFinX is dedicated to the documentation and<br>
              dissemination of SFs queer performing arts scene through digital<br>
              media. More info www.SFinX.org - www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list: send a blank e-mail to<br>
  SFinExile_announce-subscribe@yahoogroups.com<br>
  <br>
  Jon Sims Center for the Arts and SFinX* proudly present:</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>~ ~ ~ THE BAD DATE SHOW ~ ~ ~</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            <p>In preparation for the hedonism of Pride, an evening of performance about the worst dates of our lives.</p>
            <p>Serving the bad date stew will be:</p>
            <p>Billie Mandel<br>
              Nadyalec Hijazi <br>
              Sherilyn Connelly<br>
              Lindasusan Ulrich<br>
              Danny Nguyen<br>
              Sara Moore<br>
              And more!</p>
            <p>Fri. June 3rd, 2005, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $10 - $15 s.s. no one turned away <br>
              For reservations / wheelchair access call<br>
              415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC This event will be digitally audio recorded for the SFinX web-based queer artists' archive. SFinX is dedicated to the documentation and dissemination of SF's queer performing arts scene through digital media.</p>
            <p>More info: www.jonsimsctr.org - www.SFinX.org </p>
            <p>To subscribe to the SFinX announcement list:<br>
              send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com</p>
            <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
                <br>
                ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
                Jon Sims Center for the Arts and SF in eXile* proudly present:</p>
            <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  ~ ~ ~ BOMBSHELL:~ ~ ~<br>
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  queers on sex, war, &amp; homewrecking</p>
            <p>Featuring:</p>
            <p>Melissa Gira<br>
              Liz Henry<br>
              Mattilda aka Matt Bernstein Sycamore<br>
              Carol Queen</p>
            <p>and your hostesses<br>
              Gina de Vries and Sara Moore</p>
            <p>Sat. Feb. 4th, 2005, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $8 - $12 s.s. no one turned away<br>
              For reservations / wheelchair access call<br>
              415-554-0402<br>
              Remember to bring $$ for refreshments</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC This event will be<br>
              digitally audio recorded for the SFinX web-based queer artists'<br>
              archive. SFinX is dedicated to the documentation and dissemination of<br>
              SF's queer performing arts scene through digital media. More info<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list:<br>
              send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
              <br>
              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
              Jon Sims Center for the Arts and SF in eXile* proudly present:</p>
            <p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  ~ ~ ~ INK~ ~ ~<br>
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
  On our pages, On our skin.</p>
            <p>Join us<br>
              -----------Lauren Wheeler,<br>
              --------Kelly Lee Beardsley,<br>
              -------Meliza Banales,<br>
              -----Luna Maia,<br>
              ---Katrina James,<br>
              --Heathen Machinery<br>
              and other local queer writers</p>
            <p>with your hostess<br>
              Cindy Emch</p>
            <p>in our preoccupations with INK.</p>
            <p>How it connects to our art,<br>
              how it connects to our queerness,<br>
              how being tattooed has affected us: we will tell the story behind our<br>
              tattoos.</p>
            <p>We as writers -- more than any other artists-- are preoccupied with ink.<br>
              After all, it's how we make our art. Painters have paint, sculptors<br>
              have their menagerie of clay and metal, but writers--<br>
              only ink and page.</p>
            <p>Unless of course, they choose to have ink, page and skin.<br>
            </p>
            <p>Fri. March 31st, 2006, 8 pm<br>
              Jon Sims Center for the Arts<br>
              1519 Mission @ 11th St. / Van Ness, SF<br>
              $8 - $12 s.s. no one turned away<br>
              For reservations / wheelchair access call<br>
              415-554-0402<br>
              Remember to bring $$ for refreshments, and:<br>
              -- This is the *5th anniversary* for SF in Exile. There will be cake!</p>
            <p>* SFinX: San Francisco in Exile Live at the JSC This event will be<br>
              digitally audio recorded for the SFinX web-based queer artists'<br>
              archive. SFinX is dedicated to the documentation and dissemination of<br>
              SF's queer performing arts scene through digital media. More info<br>
              www.jonsimsctr.org</p>
            <p>To subscribe to the SFinX announcement list:<br>
              send a blank e-mail to<br>
              SFinExile_announce-subscribe@yahoogroups.com<br>
            </p>
          <p></p></td>
        </tr>

      </table>

      <!-- <a href="events_jul.html">JUL&nbsp;&nbsp;&nbsp;</a> 



<a href="events_aug.html">AUG&nbsp;&nbsp;&nbsp;</a> 



<a href="events_sep.html">SEP&nbsp;&nbsp;&nbsp;</a> 



<a href="events_oct.html">OCT&nbsp;&nbsp;&nbsp;</a> 



<a href="events_nov.html">NOV&nbsp;&nbsp;&nbsp;</a> 



<a href="events_dec.html">DEC</a> -->

      </font><font face="arial, helvetica, sans serif" size="2"> 

      <p>

      <p>To subscribe to the SFinX announcement list: send a blank e-mail to <a href=mailto:SFinExile_announce-subscribe@yahoogroups.com>SFinExile_announce-subscribe@yahoogroups.com</a> 

      </font>

      <p><font face="arial, helvetica, sans serif" size="2"><br>

        <br>

        </font>

      <font face="arial, helvetica, sans serif" size="2"> 

      <p> 

        {% include home.txt %}

      </font></td>

</tr></table>



<br>

{% include footer.txt %}

</BODY>



</HTML>