---
---
<HTML>

<HEAD>

<TITLE>events</TITLE>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="../style.css" type="text/css">

</HEAD>



<BODY ONLOAD="preloadImages();">

{% include header.txt %}



<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>
<tr><td width="179" align="left" valign="top" bgcolor="#999999">
<table width="200" border="0">
<tr>
<td><p><font face="arial, helvetica, sans serif" size="2" color="#ff0000">Curators and Performers March 2001 - March 2006 </font></td>
<td align="right">&nbsp;</td>
</tr></table>
<img src="../images/spacer.gif" width="200" height="1000" border="0"></td>
<td width="521" bgcolor="#cccccc" valign="top">
<p><font face="arial, helvetica, sans serif" size="-3" color="#ff0000"><table width="450" valign="top">
 <tr valign="top">

          <td colspan="2" align="center" valign="top">SFinX March 31, 2001- March 31, 2006<br></td>
        </tr>

        <tr>

          <td width="207" align="left" valign="top"><p>Curators:</p>

            <p>Naomi Azriel<br>
              Bill Brent<br>
              Karen Browne<br>
              Max Cohen<br>
              Gina de Vries<br>
              Dirty Ink Collective (Jen Collins)<br>
              Cindy Emch<br>
              Exodus<br>
              Susan Fleming<br>
              Amelia Hess<br>
              Nadyalec (Nabil) Hijazi<br>
              Juba Kalamka<br>
              Rocco Kayiatos<br>
              Kris Kovick<br>
              Kreatibo Collective (Lolan Sevilla)<br>
              Miriam Kronberg<br>
              Ricky Lee<br>
              Sara Moore<br>
              Celestina Pearl<br>
              Kirk Read<br>
              Madigan Shive<br>
              Elizabeth Stark<br>
              Marcus Rene Van</p>
            <p><br>
            </p>
            <p></p></td>

          <td width="231"> 

            <p>Performers:
            <p>Ida Acton<br>
  Robin Akimbo<br>
  Charlie Anders<br>
  Jessica Arndt<br>
  Naomi Azriel</p>
            <p>Nedjula Baguio<br>
  Don Baird<br>
  Mario Antony Balcita<br>
  Elise Baldwin<br>
  Meliza Ban&#61469;ales<br>
  alegria sonata barclay<br>
  Tina Bartolome <br>
  Kelly Lee Beardsley<br>
  eug&eacute;nie belle <br>
  Marci Blackman<br>
  Cynthia Blancaflor<br>
  Julia Bloch<br>
  Cooper Lee Bombardier<br>
  Bonfire Madigan<br>
  Lynn Breedlove &amp; her Orchestra <br>
  Bill Brent<br>
  Kristi Bruce<br>
  Louie Butler III<br>
            </p>
            <p>Dwayne Calizo<br>
  Erik &quot;Checkers&quot;<br>
  Justin Chin<br>
  Greta Christina <br>
  Max Cohen<br>
  Jen Collins<br>
  Rolando Conde<br>
  Sherilyn Connelly<br>
  Copper Wimmin</p>
            <p>Tina D'Elia<br>
  Gina de Vries<br>
  Deep Dickollective<br>
  Shelley Doty<br>
  Kebo Drew</p>
            <p>Exodus</p>
            <p>FireCatcher<br>
  Florencia</p>
            <p>Jen Gandy<br>
  Elizabeth Gimbel<br>
  Melissa Gira<br>
  Gina Gold<br>
  Daphne Gottlieb</p>
            <p>Angelo Hannah<br>
  Liz Henry<br>
  Urban Hermitt  <br>
  Nadyalec (Nabil) Hijazi<br>
  Carol Hill<br>
  Jayson Hill<br>
  Thea Hillman<br>
  Philip Huang</p>
            <p>Michael Jackson (the local performer, not the guy in Bahrain)<br>
  Jaedon<br>
  J'aimes<br>
  Katrina James<br>
  Juicy</p>
            <p>Juba Kalamka<br>
  Dorian Katz<br>
  Rocco Kayiatos aka Katastrophe<br>
  Khalil<br>
  Kris Kovick</p>
            <p>Karen Ladson<br>
  Bambi Lake<br>
  Reginald Lamar<br>
  Ricky Lee<br>
  Clare Lewis<br>
  Yosenio Lewis<br>
  Erika Lopez<br>
  Lucky 7</p>
            <p>Heathen Machinery<br>
  Leslie Mah<br>
  Luna Maia<br>
  Billie Mandel<br>
  Mattilda aka Matt Bernstein Sycamore<br>
  Cass McGee<br>
  George McKibbens<br>
  Buchi Miles<br>
  Maiana Minahal<br>
  Dani Montgomery<br>
  Sara Moore<br>
            </p>
            <p>Danny Nguyen<br>
  Nyati</p>
            <p>Alvin Orloff</p>
            <p>Shailja Patel<br>
  Celestina Pearl<br>
  Jacob Perez aka Scarletto<br>
  Mar&iacute;a Poblet<br>
  Poppy</p>
            <p>Carol Queen<br>
  Seeley Quest</p>
            <p>Kirk Read<br>
  Shar Rednour<br>
  Carla Richmond<br>
  Karen Ripley<br>
  Renee Rivera<br>
  Jen Ro<br>
  Robosapien (Chad and Whitney Skilcorn nee The Dumb Beetles, nee WFS2K02)<br>
  Camille Roy</p>
            <p>Maher Sabry<br>
  The Sarah Gina Jones Passion Dance Troupe<br>
  Julia Serano<br>
  Lolan Sevilla<br>
  Simon Sheppard<br>
  Sparrow 13<br>
  Melisa Spence<br>
  Elizabeth Stark<br>
  horehound stillpoint</p>
            <p>Michelle Tea<br>
  Brian Thortenson</p>
            <p>Lindasusan Ulrich<br>
            </p>
            <p>Marcus Rene Van<br>
  Morningstar Vancil<br>
  Noe Venable</p>
            <p>Tyger Walsh<br>
  Ariana Waynes<br>
  Rebecca Weiner<br>
  Lauren Wheeler<br>
  Sonia Whittle<br>
  Jenny Worley<br>
  Dominique Zeltzman</p></td>

        </tr>

      </table>

      <!-- <a href="events_jul.html">JUL&nbsp;&nbsp;&nbsp;</a> 



<a href="events_aug.html">AUG&nbsp;&nbsp;&nbsp;</a> 



<a href="events_sep.html">SEP&nbsp;&nbsp;&nbsp;</a> 



<a href="events_oct.html">OCT&nbsp;&nbsp;&nbsp;</a> 



<a href="events_nov.html">NOV&nbsp;&nbsp;&nbsp;</a> 



<a href="events_dec.html">DEC</a> -->

      </font><font face="arial, helvetica, sans serif" size="2"> 

      <p>

      <p>To subscribe to the SFinX announcement list: send a blank e-mail to <a href=mailto:SFinExile_announce-subscribe@yahoogroups.com>SFinExile_announce-subscribe@yahoogroups.com</a> 

      </font>

      <p><font face="arial, helvetica, sans serif" size="2"><br>

        <br>

        </font>

      <font face="arial, helvetica, sans serif" size="2"> 

      <p> 

        {% include home.txt %}

      </font></td>

</tr></table>



<br>

{% include footer.txt %}

</BODY>



</HTML>