<HTML>
<HEAD>
<TITLE>events</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="../style.css" type="text/css">
</HEAD>

<BODY ONLOAD="preloadImages();">
{% include header.txt %}
<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>

	<tr>

	<td width="179" bgcolor="#999999">

		<table width="200" border="0">

	<tr>

		<td><p><font face="arial, helvetica, sans serif" size="2" color="#ff0000">Events</font></td>

	      <td align="right">&nbsp;</td>
        </tr></table>

	<img src="../images/spacer.gif" width="200" height="1150" border="0"></td>

	<td width="521" bgcolor="#cccccc" valign="top">
      <p><font face="arial, helvetica, sans serif" size="-3" color="#ff0000"> 
        <!-- <a href="events_jan.html">JAN&nbsp;&nbsp;&nbsp;</a>

<a href="events_feb.html">FEB&nbsp;&nbsp;&nbsp;</a> 

<a href="events_mar.html">MAR&nbsp;&nbsp;&nbsp;</a> 

<a href="events_apr.html">APR&nbsp;&nbsp;&nbsp;</a> -->
        <a href="01_events_may.html">2001 MAY</a> <a href="01_events_jun.html">JUN</a> 
        <!-- <a href="events_jul.html">JUL&nbsp;&nbsp;&nbsp;</a> 

<a href="events_aug.html">AUG&nbsp;&nbsp;&nbsp;</a> 

<a href="events_sep.html">SEP&nbsp;&nbsp;&nbsp;</a> 

<a href="events_oct.html">OCT&nbsp;&nbsp;&nbsp;</a> 

<a href="events_nov.html">NOV&nbsp;&nbsp;&nbsp;</a> 

<a href="events_dec.html">DEC</a> -->
        </font></P>
      <br><br>
      <font face="arial, helvetica, sans serif" size="2"> 
      <p>Saturday <font color="#000000" size="-3" face="arial, helvetica, sans serif">October 4 </font>, 2003 8:00pm
      <P><img src="../images/events_images/ftf_918.gif">        <P> 
      <p>San Francisco in Exile Live at JSC (SFinX)      </p>
      <p>Presents: 
      <P>Jon Sims Center and SFinX to Host Sizzling, Subversive Show<br>
              <font color="#000000" size="-3" face="arial, helvetica, sans serif">FtF: Female to Femme</font><br>
Saturday <font color="#000000" size="-3" face="arial, helvetica, sans serif">October 4 </font>, 2003 8:00pm <br>
              <br>
FtF: female to femme: subversive, gender-queer freaks in high heels.<br>
The show features a hot mix of talent, inclucing rock stars, strip union organizers, burlesque dancers and PhD candidates whose performances will be recorded for the SFinX online archive at www.SFinX.org.<br>
The show features Meliza Ba&ntilde;ales (award-winning writer/ spoken word artist and Poetry Slam champ, &quot;the girl with the sense of humor of a jack-knife&quot;), eug&eacute;nie belle (high femme by birthright, porn starr by the grace of god &amp; fashionate social worker/ craftress by trade re-decorating the world one white leather sofa at a time), Amelia Mae Hess (bearded high-femme shapeshifting exhibitionist, talented producer, and founding member of the queer cabaret burlesque Diamond Daggers),<br>
Leslie Mah (ink pushing, guitar shredding, subversive porn star who prefers MAC lipstick), Elizabeth Stark (anarchist diva professor, novelist, and love child of Berkeley circa 1970),<br>
Jenny Worley/ Donna Delinqua (lusty lady stripper, sex-industry organizer, queer theorist, poker afficianado), and Dominique Zeltzman (queer genre-blending solo performer, choreographer,<br>
dancer, teacher, and aerialist).<br>
<br>
Burn, baby, burn.<br>
<br>
Jon Sims Center is an all-ages, accessible art space located at 1519 Mission St. between 11th St. and South Van Ness in San Francisco (near Civic Center BART). Call (415) 554-0402 in advance for wheelchair access. The Jon Sims Center's mission is to support artistic expressions of the gay, lesbian, bisexual and transgender experience. SFinX is dedicated to the documentation and dissemination of SF's queer performing-arts scene through digital media. </font>
      <p>Tickets: $<font color="#ff0000" size="-3" face="arial, helvetica, sans serif"></font>10 - $12 sliding scale<br>
                <br>
  Info/Reservations:<br>
  Jon Sims Center for the Arts <br>
  1519 Mission Street @ 11th Street San Francisco<br>
  (415) 554-0402</p>
      <font face="arial, helvetica, sans serif" size="2">
      <p>To subscribe to the SFinX announcement list: send a blank e-mail to <a href=mailto:SFinExile_announce-subscribe@yahoogroups.com>SFinExile_announce-subscribe@yahoogroups.com</a> 
      <p> 
      <p> 
        {% include home.txt %}
      </font></td>
  </tr></table>

<br>
{% include footer.txt %}
</BODY>

</HTML>