<HTML>

<HEAD>

<TITLE>events</TITLE>

<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">

<link rel="stylesheet" href="../style.css" type="text/css">

</HEAD>



<BODY ONLOAD="preloadImages();">

{% include header.txt %}



<table width="700" height="450" border="1" CELLPADDING=20 CELLSPACING=0>



	<tr>



	<td width="179" bgcolor="#999999">



		<table width="200" border="0">



	<tr>



		<td><p><font face="arial, helvetica, sans serif" size="2" color="#ff0000">Events</font></td>



	      <td align="right">&nbsp;</td>

        </tr></table>



	<img src="../images/spacer.gif" width="200" height="1000" border="0"></td>



	<td width="521" bgcolor="#cccccc" valign="top">

      <p>

      <p><font face="arial, helvetica, sans serif" size="-3" color="#ff0000"> 

        <!-- <a href="events_jan.html">JAN&nbsp;&nbsp;&nbsp;</a>



<a href="events_feb.html">FEB&nbsp;&nbsp;&nbsp;</a> 



<a href="events_mar.html">MAR&nbsp;&nbsp;&nbsp;</a> 



<a href="events_apr.html">APR&nbsp;&nbsp;&nbsp;</a> 

        <a href="events_may.html">MAY</a> <a href="events_jun.html">JUN</a>-->

        </font></p>

      <p>&nbsp;</p>

      <font face="arial, helvetica, sans serif" size="-3" color="#ff0000">
	  <table width="450" border="2">

        <tr>

          <td valign="top" width="160" align="center"><img src="../images/revolution.gif">
          </td>

          <td valign="top" align="left" width="290"> 
            
            </td>

        </tr>

        <tr>

          <td align="center"><p>SFinX: San Francisco in Exile<br>
              <font color="#000000" size="-3" face="arial, helvetica, sans serif">REVOLUTION: 
              BREAK HERE</font><br>
              Saturday <font color="#000000" size="-3" face="arial, helvetica, sans serif">June 
              7 </font>, 2003 8:00pm <br>
              <br>
              Spoken Word Griot Wisdom, Storytelling and Urban Vision<br>
              Poets/Features<br>
              <br>
              Carol Hill: Writer/ storyteller/ "Da Words So Good„/ Herstory / 
              Teacher/ Mango/ Red/Peppa/ Door Girl/<br>
              <br>
              Juicy: SheSpeaks SF/ SheSpeaks Oakland/ Da Words So Goods/ Flyer 
              Girl/ Wet/ Liquid Fire/ hostess with the mostess/ keep um' wetta/ 
              Dancer/ Preacher/ She Said/ innovator/ respect demanded/ <br>
              <br>
              Florencia: Center for Young women's development/ Program Coordinator: 
              Nelly Velasco/ Rapper /Girlfriend / local home girl / young activist/Red 
              Starr for every Revolutionary/ www.hispanik.com but not his panic/ 
              one hungry mutha Fucka'/ Latina/ Proyecto Mascot/<br>
              <br>
              Nyati: Mother/ Writer/ Lover/ Sexy Goddess/ Improv-Specialist/ Top/ 
              Dom Dadda/<br>
              <br>
              Khalil: Beautiful Black Man/ Teacher/ Dancer/ Lover/ Soulful/<br>
              <br>
              Sara Moore: Friend/ SFinX trainer/ Mentor/ Poet/ revolutionary/ 
              Traveler/ I hear she strips/ Motivator/ Lover/ Women/ Alive/ Patient/ 
              Beauty/ Activist/ Queer Performer/<br>
              <br>
              And last but not least your host<br>
              <br>
              Exodus:  Dyke/ Women/ Mujer/Earth Mother/ Single/ Change/ Writer/ 
              Poet/ Entertainer/ Youth Educator/ Party Animal/ Liquid Fire/ Other 
              SiSter/ NQAF/ Dyke Drama 1999-2000/Sister/ Daughter/ Wet/ Liquid 
              Fire/Boricua/ Teacher/ Da Words So Good/ Proyecto ContraSIDA Por 
              Vida / Dancer/ Community Organizer/ Friend/ Peace Maker/ Black/ 
              Activist/ FREEDOM/ Director/ Sound-operator/House Manager/Mentor/ 
              healer/ Seer/</p>

            <p>Tickets: $7 - $12 sliding scale<br><br>
              Info/Reservations:<br>
              Jon Sims Center for the Arts <br>
              1519 Mission Street @ 11th Street San Francisco<br>
              (415) 554-0402</p></td>

          <td> 

            <p>&nbsp;</td>

        </tr>

      </table>

      <!-- <a href="events_jul.html">JUL&nbsp;&nbsp;&nbsp;</a> 



<a href="events_aug.html">AUG&nbsp;&nbsp;&nbsp;</a> 



<a href="events_sep.html">SEP&nbsp;&nbsp;&nbsp;</a> 



<a href="events_oct.html">OCT&nbsp;&nbsp;&nbsp;</a> 



<a href="events_nov.html">NOV&nbsp;&nbsp;&nbsp;</a> 



<a href="events_dec.html">DEC</a> -->

      </font><font face="arial, helvetica, sans serif" size="2"> 

      <p>&nbsp;

      <p>To subscribe to the SFinX announcement list: send a blank e-mail to <a href=mailto:SFinExile_announce-subscribe@yahoogroups.com>SFinExile_announce-subscribe@yahoogroups.com</a> 

      </font>

      <p><font face="arial, helvetica, sans serif" size="2"><br>

        <br>

        </font>

      <font face="arial, helvetica, sans serif" size="2"> 

      <p> 

        {% include home.txt %}

      </font></td>

  </tr></table>



<br>

{% include footer.txt %}

</BODY>



</HTML>